#background-choice{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#pre-background-header{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}
#pre-background-header-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
#deselect-all-btn {
    background: rgb(231, 231, 231);
}
#deselect-all-btn:hover {
    background: rgb(212, 212, 212);
    border: 1px solid rgb(155, 155, 155);
}
.background-entry{
    background: linear-gradient(330deg, rgba(244, 123, 255, 0) 0%, rgba(255, 255, 255, 0.561) 100%), url("../src/assets/backgrounds/9.jpg");
    background-size: contain;
    border-radius: 10px;
    width: 250px;
    height: 140px; 
    margin: 10px;
}
.background-checker{
    margin: 0;
    width: 100%;
    height: 100%;
}
.background-checker>label input ~ span{
    border-radius: 5px 0 5px 0;
}
.background-checker>label{
    width: 100%;
    height: 100%;
}
.background-checker>label:hover{
    background:linear-gradient(330deg, rgba(244, 123, 255, 0) 0%, rgba(255, 255, 255, 0.185) 100%);
}
.background-checker>label:hover input ~ span{
    border: 1px transparent solid !important;
}
@media (max-width: 1920px) {
    .background-entry {
        width: 265px;
        height: 149px; 
    }
}
@media (max-width: 1580px) {
    .background-entry {
        width: 231px;
        height: 130px;
    }
}
@media (max-width: 1380px) {
    .background-entry {
        width: 200px;
        height: 112px; 
    }
}
@media (max-width: 1175px) {
    .background-entry {
        width: 180px;
        height: 101px; 
    }
}
@media (max-width: 1080px) {
    .background-entry {
        width: 158px;
        height: 89px; 
    }
}
@media (max-width: 960px) {
    .background-entry {
        width: 145px;
        height: 82px; 
    }
}
@media (max-width: 900px) {
    .background-entry {
        width: 126px;
        height: 71px; 
    }
}
@media (max-width: 780px) {
    .background-entry {
        width: 120px;
        height: 67px; 
    }
}
@media (max-width: 750px) {
    .background-entry {
        width: 115px;
        height: 65px; 
    }
}