#countdownContainerTop{
    position: absolute;
    top: 2%;
    left:50%;
    transform: translateX(-50%);
    padding-bottom: 0%;
    color:white;
}

#countdownContainerBottom{
    position: absolute;
    bottom: 4%;
    left:50%;
    transform: translateX(-50%);
    color:white;
}

.info{
    display:flex;
    justify-content: space-evenly;
}

.lblHolder{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.mainLbl{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3.5%;
}

.lbl{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 3%;
}

.lblL{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 1%;
}

.lblR{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 1%;
}

.lblNb{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.lbldot {
    font-size: 2rem;
}