*{
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
}
body{
    background-image: url(../src/assets/backgrounds/space_fantasy_planets_sky_stars_landscapes_3840x2400.jpg);
    background-size: cover;
    margin: 0;
    padding:0;
    height: 100%;
}
#page-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#settings-page-wrapper{
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out;
    display: none;
    visibility: hidden;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    transform: translateY(-50%);
    width: 0%;
    height: 0%;
    border-radius: 0 0px 50px 0 ;

}
#settings-container{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border-bottom: #757575 solid 1px;*/
    background-color: #3b3b3b;
}
#nav-bar{
    flex-grow: 1;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#nav-bar button {
    font-family: 'Poppins', sans-serif;
    transition: border 0.15s;
    height: 100%;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
}
#nav-bar button:hover {
    border-bottom: #ffffff solid 1px;
}
#search-wrapper-wrapper{
    margin-top: 40vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#countdownContainerTop{
    position: absolute;
    top: 2%;
    left:50%;
    transform: translateX(-50%);
    padding-bottom: 0%;
    color:white;
}
#countdownContainerBottom{
    position: absolute;
    bottom: 4%;
    left:50%;
    transform: translateX(-50%);
    color:white;
}
.info{
    display:flex;
    justify-content: space-evenly;
}

.lblHolder{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.mainLbl{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3.5%;
}
.lbl{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 3%;
}
.lblL{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 1%;
}
.lblR{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 1%;
}
.lblNb{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.lbldot {
    font-size: 2rem;
}
.search-space{
    width:30%;
}

#search-wrapper{
    justify-self: flex-end;
    transition: background-color 0.1s, width 0.5s;
    height: 40px;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #36363600;
    background-color: #5c5c5c85;
    border-radius: 100px;
    padding: 0px 15px 0px 5px;
    margin-bottom: 4vh;
}


#search-wrapper form, input {
    transition: background-color 0.1s;
    height: 80%;
    width: 90%;
    margin-left: 5px;
    margin-top: 1px;
    border: none;
    font-size: 1.25rem;
    background-color: #00000000;
    color: rgb(245, 245, 245);
}
#search-wrapper input:focus {
    outline: none;
}

#search-wrapper:focus-within{
    background-color: #75757585 !important;
}
#search-wrapper:hover{
    background-color: #62626285;
}

#settings-wrapper{
    margin: 4px 0 0 25px;
    z-index: 10;
    align-self: flex-start;
    justify-self: flex-start;
}

#settings-button{
    transition: transform 0.3s;
    transform: rotate(90deg);
    height: 40px;
    padding-top: 3px;
    border: none;
    outline: none;
    background-color: transparent;
}

#settings-button-placeholder{
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

#settings-button:hover{
    border-radius: 10px;
    background-color: #444444;
}

#button-img{
    height: 80%;
}
#search-img{
    margin-top: 4px;
    width:40px;
}
#search-button{
    border: none;
    outline: none;
    background-color: transparent;
}

#general-wrapper{
    color:white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


#general-page{
    display: none;
    visibility: hidden;
    height: 90%;
}
/* #general-page div{
} */
#background-page{
    display: none;
    visibility: hidden;
}
/* #background-page div{
    
} */
#info-page{
    display: none;
    visibility: hidden;
}
/* #info-page div{
    display: flex;
} */

.mcq{
    width: 35%;
    height: 25px;
    font-size: 1rem;
    margin-left: 5%;
    text-align: center;
    color:white;
    background-color: rgb(29, 29, 29);
    border: none;
    outline: none;
    border-radius: 25px;;
}

.more-settings-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-img{
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
    height: 25px;
}
.ct-sub-entry-hidden {
    display: none;
}

.setting-wrapper {
    margin-left: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    border-radius: 10px;
    width: 80%;
    padding: 5% 0 5% 5%;
    margin-left: 4%;
}

.setting-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
h3{
    font-weight: normal;
    font-size: 1.3rem;
}
.switch-button{
    margin-left: 5%;
    height: min-content;
}
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 24px;
    background-color: #ccc;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider::before {
    position: absolute;
    border-radius: 34px;
    content: "";
    top:14.8%;
    left: 9%;
    height: 14px;
    width: 14px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider{
    background-color: #3ecffb;
}
.switch input:checked + .slider::before{
    transform: translateX(19px);
}

#bookmark-wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.bookmark{
    width: 80px;
    height: 80px;
    border-radius: 10px 30px 15px 25px;
    margin: 12px;
    position: relative;
    background: #3d3d3dd0 linear-gradient(315deg, rgba(244, 123, 255, 0) 0%, rgba(153, 59, 90, 0.335) 100%);
    border: 1px solid transparent;
}

#add-bookmark {
    background: #3d3d3d59 linear-gradient(315deg, rgba(244, 123, 255, 0) 0%, rgba(153, 59, 90, 0.171) 100%);  
}

#add-bookmark img{
    width: 70%;
    transform: translateX(22%) translateY(22%);
}

.bookmark:hover, .bookmark:focus-within{
    background: #3d3d3dd0 linear-gradient(315deg, rgba(244, 123, 255, 0) 0%, rgba(153, 59, 90, 0.561) 100%);
    outline: none;
    border: rgba(172, 58, 96, 0.76) 1px solid;
}

.bookmark:hover > .delBookmark{
    display: block !important;
}

.bookmark .bookmark-icon {
    width: 35px;
    height:35px;
    transform: translateX(60%) translateY(60%);
}

#add-bookmark-wrapper-wrapper{
    color:white;
    display: none;
    position: absolute;
    width: 650px;
    height: 400px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #2e2e2e;
    border-radius: 75px;
}
#add-bookmark-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookmark-option{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookmark-option input{
    text-align: left;
    padding-left: 12px;
}

.standard-btn{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline:none;
    width: 150px;
    height: 42px;
    border-radius: 40px;
    background: #3ecffb linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.185) 100%);;
}

.standard-btn:hover{
    background: #3ecffb linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.472) 100%);;
    border: 1px solid #bff0ff;
}

#add-bookmark-wrapper .standard-btn {
    margin-top: 50px;
}

#bookmark-h1{
    width: 100%;
    margin-top: 0;
    text-align: center;
    padding-bottom: 5%;
    border-bottom: #444444 solid 5px;
}

#close-cross-btn{
    transform: rotate(45deg);
    margin-top: 25px;
    width: 30px;
    align-self: flex-end;
    margin-right: 40px;
}

.delBookmark{
    display: none;
    transform: rotate(45deg);
    width: 20px !important;
    position: absolute;
    top: -15%;
    right: -10%;
}