*{
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
    --switch-checked-color:#3ecffb;
    --switch-unchecked-color:#ccc;
    --switch-disabled-color:#b1b1b1;
}
body{
    background-image: none;
    transition: background 1s;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding:0;
    height: 100%;
}
#page-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#settings-page-wrapper{
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out;
    display: none;
    visibility: hidden;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    transform: translateY(-50%);
    width: 0%;
    height: 0%;
    border-radius: 0 0px 50px 0 ;

}
#settings-container{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border-bottom: #757575 solid 1px;*/
    background-color: #3b3b3b;
}
#nav-bar{
    flex-grow: 1;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#nav-bar button {
    font-family: 'Poppins', sans-serif;
    transition: border 0.15s;
    height: 100%;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
}
#nav-bar button:hover {
    border-bottom: #ffffff solid 1px;
}

.settings-wrapper{
    margin: 4px 0 0 4px;
    z-index: 10;
    align-self: flex-start;
    justify-self: flex-start;
}

#timer-settings{
    flex-direction: column;
    justify-content: center;
}
#particles-js {
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#settings-button{
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 25px;
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    padding-top: 3px;
    border: none;
    outline: none;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

#settings-button-placeholder{
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

#settings-button:hover{
    border-radius: 25px;
    background-color: #444444c9;
}

#google-apps-container{
    color: #fdfbfb;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out;
    display: none;
    visibility: visible;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0%;
    text-align: center;
    transform: translateY(-50%);
    width: 18%;
    height: 100%;
    border-radius: 0 0 0 50px ;

}
#google-apps-img-placeholder{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
}
#google-apps-subcontainer{
    height: 90%;
}
#extention-logo{
    position: relative;
    transform: translateY(50%);
    margin-bottom: 8px;
    width: 30px;
    margin-right: 10px;
}
#google-apps-scroll-container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-evenly;
}
.google-app-entry-img{
    height: 45px;
    width: 45px;
}
.google-app-entry{
    width: 80px;
    transition: all 0.2s;
    height: 90px;
    padding: 8px 0 0 0;
    margin: 8px 0px 0 8px;
    border-radius: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.google-app-entry:hover{
    background-color: #277e99;
}
.google-app-entry:focus-within{
    background-color: #4499b3;
}

#google-apps-btn{
    transition: all 0.3s;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 10px 0 0 10px;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    display: flexbox;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 2px;
}
#google-wrapper{
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px 0 0 2px;
    z-index: 10;
    align-self: flex-start;
    justify-self: flex-end;
}
#google-apps-btn:hover{
    border-radius: 5px;
    background-color: #444444c9;
}

#google-apps-img{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
}

.google-app-title{
    margin-top: 0;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.info-main-header{
    border-bottom: #797979 1px solid;
    width: 93%;
    padding-bottom: 20px;
    margin: 0px 15px 10px 15px;
    border-radius: 0 0 2px 2px;
    text-align: center;
}
.info-footer{
    width: 93%;
    padding-top: 25px;
    padding-bottom: 5px;
    margin: 0px 15px 0px 15px;
    font-weight: 500;
    font-size: 1.5rem;
    border-top: #797979 1px solid;
    border-radius: 2px 2px 0px 0px;
    text-align: center;
}
#app-version{
    font-size: 0.9rem;
    margin-top: 0;
}
.info-header {
    width: 97%;
    margin-left: 3%;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.info-header ~ ul {
    margin-right: 0px;
    text-align: left;
    width: 90%;
    font-size: 1.02rem;
    margin-top: 0px;
    margin-right: 0px;
}
.info-header ~ ul > li > p{
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #f3f3f3;
}
a{
    color:#47d0fa;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cycle-delay-input{
    width: 15%;
    padding-left: 10px;
    margin-right: 10px;
    -moz-appearance: textfield;
    margin-left: 10px;
    outline: none;
    border: transparent 1px solid;
    background-color: #2e2e2e;
    border-radius: 12px;
}
#cycle-delay-input:hover{
    border: #277e99 1px solid;
}
#cycle-delay-input:focus-within{
    border: #3ecffb 1px solid;
}
.settings-page{
    display: none;
    visibility: hidden;
    height: 85vh;
}
.settings-page::after{
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%,rgba(255,255,255,0) 10%);
    z-index: 5;
    top: 58px;
    content: "";
    display: block;
    height: 85vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 98%;
}
.sub-page-wrapper{
    overflow-y : auto;
    overflow-x: hidden;
    color:white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.mcq{
    width: 35%;
    height: 25px;
    font-size: 0.95rem;
    margin-left: 5%;
    text-align: center;
    color:white;
    background-color: rgb(29, 29, 29);
    border: none;
    outline: none;
    border-radius: 25px;;
}

.more-settings-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-img{
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
    height: 25px;
}

.ct-sub-entry-hidden {
    display: none;
}

.setting-wrapper {
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    background-color: #3b3b3b;
    border-radius: 10px;
    width: 80%;
    padding: 0% 5% 0% 3%;
    margin: 10px 0 50px 4%;
}

.setting-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.setting-entry>h3{
    width: 150px;
}

.multiple-setting-entry {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.sub-setting-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
h3{
    font-weight: normal;
    font-size: 1.3rem;
}


.switch-button{
    margin-left: 5%;
    height: min-content;
}

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 24px;
    background-color: #ccc;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-unchecked-color);
    transition: .4s;
}

.slider::before {
    position: absolute;
    border-radius: 34px;
    content: "";
    top:14.8%;
    left: 9%;
    height: 14px;
    width: 14px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider{
    background-color: var(--switch-checked-color);
}
.switch input:checked + .slider::before{
    transform: translateX(19px);
}

.standard-btn{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline:none;
    width: 150px;
    height: 42px;
    border-radius: 40px;
    background: var(--switch-checked-color) linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.185) 100%);;
}

.standard-checkbox{
    display: block;
    position: relative;
    margin-left: 10%;
    height: min-content;
}

.checkbox input { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox{
    border-radius: 5px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(204, 204, 204, 0);
}

.checkmark{
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--switch-unchecked-color);
    border: 1px transparent solid;
    transition: .2s;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox:hover input ~ .checkmark {
    border: 1px solid#1b1b1b;
}

.checkbox input:checked ~ .checkmark{
    background-color: var(--switch-checked-color);
}
/* disabled case */
.checkbox input:checked:disabled ~ .checkmark{
    background-color: var(--switch-disabled-color);
}

.checkbox input:checked ~ .checkmark::after{
    display: block;
}

.standard-checkbox .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.standard-btn:hover{
    background: #3ecffb linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.472) 100%);;
    border: 1px solid #bff0ff;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track { 
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}