*{
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    --switch-checked-color:#3ecffb;
    --switch-unchecked-color:#ccc;
    --switch-disabled-color:#b1b1b1;
}
body{
    background-image: none;
    transition: background 1s;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding:0;
    height: 100%;
}
#page-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#settings-page-wrapper{
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out;
    display: none;
    visibility: hidden;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    transform: translateY(-50%);
    width: 0%;
    height: 0%;
    border-radius: 0 0px 50px 0 ;

}
#settings-container{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #3b3b3b;
}
#nav-bar{
    flex-grow: 1;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#nav-bar button {
    font-family: 'Poppins', sans-serif;
    transition: border 0.15s;
    height: 100%;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
}
#nav-bar button:hover {
    border-bottom: #ffffff solid 1px;
}

.settings-wrapper{
    margin: 4px 0 0 4px;
    z-index: 10;
    align-self: flex-start;
    justify-self: flex-start;
}

#timer-settings{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
}
#particles-js {
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#settings-button{
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 25px;
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

#settings-button-placeholder{
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

#settings-button:hover{
    border-radius: 25px;
    background-color: #444444c9;
}

#google-apps-container{
    color: #fdfbfb;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out;
    display: none;
    visibility: visible;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 0%;
    text-align: center;
    transform: translateY(-50%);
    width: 18%;
    height: 100%;
    border-radius: 0 0 0 50px ;

}
#google-apps-img-placeholder{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
}
#google-apps-subcontainer{
    height: 90%;
}
#extention-logo{
    position: relative;
    transform: translateY(50%);
    margin-bottom: 8px;
    width: 30px;
    margin-right: 10px;
}
#google-apps-scroll-container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-evenly;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    to{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
.google-app-entry-img{
    height: 45px;
    width: 45px;
}
.google-app-entry{
    width: 80px;
    transition: all 0.2s;
    height: 90px;
    padding: 8px 0 0 0;
    margin: 8px 0px 0 8px;
    border-radius: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.google-app-entry:hover{
    background-color: #277e99;
}
.google-app-entry:focus-within{
    outline: none;
    background-color: #4499b3;
}

#google-apps-btn{
    transition: all 0.3s;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 10px 0 0 10px;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    display: flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 2px;
}
#google-wrapper{
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px 0 0 2px;
    z-index: 10;
    align-self: flex-start;
    justify-self: flex-end;
}
#google-apps-btn:hover{
    border-radius: 5px;
    background-color: #444444c9;
}

#google-apps-img{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
}

.google-app-title{
    margin-top: 0;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.info-main-header{
    border-bottom: #797979 1px solid;
    width: 93%;
    padding-bottom: 20px;
    margin: 0px 15px 10px 15px;
    border-radius: 0 0 2px 2px;
    text-align: center;
}
.contact-means{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    padding-top: 25px;
    padding-bottom: 5px;
    margin: 0px 15px 0px 15px;
    border-top: #797979 1px solid;
    border-radius: 2px 2px 0px 0px;
}
.info-footer{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}
.contact-img{
    padding: 3px 15px;
    width: 50px;
    height: 50px;
}
.contact-means > *{
    transition: all 0.2s;
}
.contact-means > *:hover{
    transform: scale(1.15);
}
#app-version{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 45px;
}
.info-header {
    width: 97%;
    margin-left: 3%;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
}
.info-header ~ ul {
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: left;
    width: 90%;
    font-size: 1.02rem;
    margin-top: 0px;
    margin-right: 0px;
}
.info-header ~ ul > li > p{
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e7e7e7;
}
strong{
    color: #ffffff;
}
a{
    color:#56d7ff;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cycle-delay-input{
    width: 15%;
    padding-left: 10px;
    margin-right: 10px;
    -moz-appearance: textfield;
    margin-left: 10px;
    outline: none;
    border: transparent 1px solid;
    background-color: #2e2e2e;
    border-radius: 12px;
}
#cycle-delay-input:hover{
    border: #277e99 1px solid;
}
#cycle-delay-input:focus-within{
    border: #3ecffb 1px solid;
}

#button-img,
#google-apps-img,
#search-img,
#add-bookmark-plus,
#schedule-feature-close,
#schedule-handle-el-op,
#schedule-handle-el,
.bookmark-icon,
.google-app-entry-img{
    pointer-events: none;
}
.settings-page{
    display: none;
    visibility: hidden;
    height: 85vh;
}
.settings-page::after{
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%,rgba(255,255,255,0) 10%);
    z-index: 5;
    top: 58px;
    content: "";
    display: block;
    height: 85vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 98%;
}
.alert-txt{
    color:rgb(255, 155, 155);
}
.sub-page-wrapper{
    overflow-y : auto;
    overflow-x: hidden;
    color:white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.setting-wrapper:last-child{
    margin-bottom: 70px;
}
.mcq{
    width: 35%;
    height: 25px;
    font-size: 0.95rem;
    margin-left: 5%;
    text-align: center;
    color:white;
    background-color: rgb(29, 29, 29);
    border: none;
    outline: none;
    border-radius: 25px;;
}

.more-settings-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-img{
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
    height: 25px;
}

.ct-sub-entry-hidden {
    display: none;
}

.setting-wrapper {
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    background-color: #3b3b3b;
    border-radius: 8px;
    width: 76%;
    padding: 0% 5% 0% 3%;
    margin: 10px 0 40px 4%;
}

.setting-entry{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.setting-entry > h3 {
    min-width: fit-content;
}
.multiple-setting-entry {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.sub-setting-entry{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.secondary-sub-setting > h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.secondary-sub-setting{
    justify-content: left;
}
.secondary-sub-setting > h3{
    font-size: 1.1rem;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: #797979 3px solid;
}

#bookmark-new-page-wrapper{
    padding-bottom: 10px;
}
.left-sub-setting{
    justify-content: left;
}
h3{
    font-weight: normal;
    font-size: 1.3rem;
}

.switch-button{
    margin-left: 5%;
    height: min-content;
}

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 24px;
    background-color: #ccc;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-unchecked-color);
    transition: .4s;
}

.slider::before {
    position: absolute;
    border-radius: 34px;
    content: "";
    top:14.8%;
    left: 9%;
    height: 14px;
    width: 14px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider{
    background-color: var(--switch-checked-color);
}
.switch input:checked + .slider::before{
    transform: translateX(19px);
}

.standard-btn{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline:none;
    width: 150px;
    height: 42px;
    border-radius: 40px;
    background: var(--switch-checked-color) linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.185) 100%);;
}

.standard-checkbox{
    display: block;
    position: relative;
    margin-left: 2%;
    height: min-content;
}

.checkbox input { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox{
    border-radius: 5px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(204, 204, 204, 0);
}

.checkmark{
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--switch-unchecked-color);
    border: 1px transparent solid;
    transition: .2s;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox:hover input ~ .checkmark {
    border: 1px solid#1b1b1b;
}

.checkbox input:checked ~ .checkmark{
    background-color: var(--switch-checked-color);
}
/* disabled case */
.checkbox input:checked:disabled ~ .checkmark{
    background-color: var(--switch-disabled-color);
}

.checkbox input:checked ~ .checkmark::after{
    display: block;
}

.standard-checkbox .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.standard-btn:hover{
    background: #3ecffb linear-gradient(315deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.472) 100%);;
    border: 1px solid #bff0ff;
}

.featurePresentation{
    font-size: 0.8rem;
    opacity: 0;
    color: rgb(200, 200, 200);
    padding: 0px 5px 0px 5px;
    position: fixed;
    min-width: 200px;
    min-height: 60px;
    background-color: #2e2e2e;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.555) 0%, rgb(192, 60, 104) 100%);
    border-radius: 10px 30px 15px 25px;
    animation: featureFade 1000ms linear 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    pointer-events: none;
}
#schedule-feature-close{
    pointer-events: all;
    transition: all 500ms;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    position: absolute;
    top:-10px;
    left: -10px;
}
#schedule-feature-close:hover{
    box-shadow: 0px 0px 10px 7px rgb(251, 85, 154), 0 0 10px 2px rgb(251, 85, 154) inset;
}
.sub-checkbox{
    margin-top: 5px;
}
.sub-checkbox .checkmark{
    height: 18px;
    width: 18px;
}
.sub-checkbox .checkmark::after{
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track { 
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes featureFade {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}