#schedule-main-conatiner{
    transition: all 250ms;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    min-width: 0%;
    height: 80vh;
    padding: 20px 0 20px;
    background-color: #2e2e2efb;
    border-radius: 50px 0px 0px 50px;
    color: white;
}
#schedule-main-sub-conatiner{
    max-height: 80vh;
    padding-left: 50px;
    overflow-y: scroll;
}
#schedule-main-sub-conatiner::after{
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%,rgba(255,255,255,0) 10%);
    z-index: 5;
    bottom: 18px;
    content: "";
    margin-right: 8px;
    display: block;
    height: 85vh;
    right: 0;
    pointer-events: none;
    position: fixed;
    width: 96%;
}
#schedule-main-sub-conatiner>h1{
    text-align: center;
    margin-bottom: 0;
}
#week-days-container{
    /* padding: 0 40px 0 40px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
#schedule-handle{
    width: 60px;
    height: 85%;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}
#schedule-handle-el{
    transition: all 200ms;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    right: 0%;
    transform: translateY(-50%) translateX(50%);
}
#schedule-handle-op{
    width: 60px;
    height: 85%;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
#schedule-handle-el-op{
    transition: all 200ms;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    right: 0%;
    transform: translateY(-50%) translateX(50%) rotate(180deg);
}
#schedule-feature{
    right: 0px;
    bottom: 48%;
    /* transform: translateY(-40%); */
}

.day{
    margin:0px 5px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.day-header{
    position: sticky;
    top: 0;
    font-size: 1.3em;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(187, 187, 187);
    background-color: #2e2e2efb;
}
.anime-entry{
    min-height: 50px;
    margin-bottom: 10px;
    width: 110px;
    padding: 5px;
    border-radius: 20px;
    background-color: #cc79a0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime-entry:hover{
    background-color: rgb(223, 147, 183)
}
.current-day{
    background-color: #ff7cb9;
}
.current-day:hover{
    background-color: #fd9bc9;
}

.anime-title{
    font-size: 0.7em;
    text-align: center;
    pointer-events: none;
}


@media (min-width: 1551px) {
    #schedule-main-conatiner{
        font-size: 1.1rem;
    }
    .anime-entry{
        min-height: 25px;
        width: 100px;
    }
}
@media (max-width: 1550px) {
    #schedule-main-conatiner{
        font-size: 1rem;
    }
    .anime-entry{
        min-height: 25px;
        width: 90px;
    }
}
@media (max-width: 1130px) {
    #schedule-main-conatiner{
        /* width: 700px; */
        font-size: 0.75rem;
    }
    .anime-entry{
        min-height: 25px;
        border-radius: 15px;
        width: 80px;
    }
}
@media (max-width: 980px) {
    #schedule-main-conatiner{
        /* width: 500px; */
        font-size: 0.70rem;
    }
    .anime-entry{
        min-height: 25px;
        border-radius: 15px;
        width: 70px;
    }
}
@media (max-width: 880px) {
    #schedule-main-conatiner{
        /* width: 300px; */
        font-size: 0.70rem;
    }
    .anime-entry{
        min-height: 25px;
        border-radius: 15px;
        width: 60px;
    }
}