@import "@Styles/base";
@import "@Styles/utils";

.drop-down-list {
    @include interactable;
    border: 0.1rem solid $accent-primary-color;
    color: $accent-primary-color;
    padding: 0.2rem 1rem;
    max-width: 90%;
    border-radius: .6rem;
    background-color: $panel-secondary-color;
    transition: border .2s;
    font-size: .65rem;
    &:hover{
        border: 0.1rem solid var(--accent-secondary-color);
        box-shadow: 0 0 1px var(--accent-secondary-color);
    }
}


.feature-option {
    .drop-down-list {
        margin: 0 .25rem;
        &:nth-child(1) {
            margin-left: 1.5rem;
        }
        &:nth-child(2) {
            margin-left: auto;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}