@import "Styles/base";
@import "Styles/utils";

.countdown-container{
    @include flexStart(column);
    z-index: 3;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    width: fit-content;
    height: 8rem;
    user-select: none;
    filter: drop-shadow(1px 1px 1px rgb(44, 44, 44));
    .separator{
        max-width: 10px;
        min-width: 10px;
        min-height: 1.6rem;
    }
    .countdown-label{
        @include flexCenter;
        font-weight: 50;
        margin-bottom: 1.2rem;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            padding: 0 10px;
            height: .1rem;
            bottom: -3px;
            background: linear-gradient(
                90deg,
                transparent 0%,
                var(--accent-secondary-color) 5%,
                var(--accent-secondary-color) 95%,
                transparent 100%
            );
        }
        &:empty::before{
            padding: 0;
        }
    }
    .countdown-number-container, .countdown-units-container{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: auto;
        margin-top: auto;
        justify-content: space-around;
    }
    .countdown-number-container{
        font-size: 2rem;
    }
    .countdown-units-container{
        font-size: 0.9rem;
    }    
    .countdown-section{
        min-width: 10rem;
        text-align: center;
    }
    &.top{
        margin-top: 1.2rem;
        top: 0;
    }
    
    &.bottom{
        bottom: 0;
        margin-bottom: 1.5rem;
    }
}