$panel-primary-color: #27282c;
$panel-secondary-color: #3b3e4b;
$panel-secondary-color-hover:  #4a5667;
$panel-ternary-color: #555969;

$accent-primary-color: #D8D8D8;

$accent-ternary-color: #F27272;
$accent-ternary-color-active: #ce5f5f;

$accent-quaternary-color: #7eca74;
$accent-quaternary-color-active: #6cb36e;

$button-unselected-color: #C4C4C4;

$separator-primary-color: $accent-primary-color;
$separator-secondary-color: #A0A0A0;