// $panel-primary-color: #27282c;
// $panel-secondary-color: #3b3e4b;
// $panel-secondary-color-hover:  #4a5667;
// $panel-ternary-color: #555969;

// $accent-primary-color: #D8D8D8;

$panel-primary-color: #d0dde4;
$panel-secondary-color: #f1f1f1;
$panel-secondary-color-hover:  #8a99ad;
$panel-ternary-color: #535353;

$accent-primary-color: #262627;

// $panel-primary-color-light: #afafaf;
// $panel-secondary-color-light: #ffffff;
// $panel-secondary-color-hover-light:  #8a99ad;
// $panel-ternary-color-light: #535353;

// $accent-primary-color-light: #272727;


$accent-ternary-color: #F27272;
$accent-ternary-color-active: #ce5f5f;

$accent-quaternary-color: #7eca74;
$accent-quaternary-color-active: #6cb36e;

$button-unselected-color: #C4C4C4;

$separator-primary-color: $accent-primary-color;
$separator-secondary-color: #A0A0A0;