

// // var(--panel-primary-color): #ffffff;
// // var(--panel-secondary-color): #ececec;
// // var(--panel-secondary-color-hover) :  #78828f;
// // var(--panel-ternary-color) : #535353;

// // var(--accent-primary-color) : #555555;

// var(--panel-primary-color)-light: #ffffff;
// var(--panel-secondary-color)-light: #ececec;
// var(--panel-secondary-color-hover) -light:  #78828f;
// var(--panel-ternary-color) -light: #535353;

// var(--accent-primary-color) -light: #555555;


$accent-ternary-color: #F27272;
$accent-ternary-color-active: #ce5f5f;

$accent-quaternary-color: #7eca74;
$accent-quaternary-color-active: #6cb36e;

$button-unselected-color: #C4C4C4;

$separator-primary-color: var(--accent-primary-color) ;
$separator-secondary-color: #A0A0A0;